<div class="row">
  <% data.flats.each do |flat| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/<%= flat.city.downcase %>');">
        <div class="card-category"><%= flat.city %>, <%= flat.country %></div>
        <div class="card-description">
          <h2><%= flat.name %></h2>
          <p><%= flat.description %></p>
          <p class="rating">
            <i class="fa fa-star" style="color: #ffb400"></i>
            <i class="fa fa-star" style="color: #ffb400"></i>
            <i class="fa fa-star" style="color: #ffb400"></i>
            <i class="fa fa-star" style="color: #ffb400"></i>
            <i class="fa fa-star" style="color: #cacccd"></i>
          </p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/<%= flat.github_nickname %>">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  <% end %>
</div>
